.bigContainer {
    text-align: center;
    margin-top: 250px;

}


.bigContainer div{
    display: inline;
    font-size: 50px;
    background-color: rgb(19, 20, 20);
    color:white;
    padding: 15px;
}